footer {
    background: #333;

    .social-media-list {
        border-color: #272b2f !important;

        li {
            width: 40px;
            height: 40px;
            line-height: 40px;
            margin-left: 10px;
        }
    }
}